{% extends 'base.html' %}

{% block title %} | About Us {% endblock %}
{% block content %}

{% load humanize %}
{% load static %}

<!-- WhatsApp Button -->
<div class="whatsapp-button">
    <a href="https://wa.me/260972923011?text=Hello%20Vaaka%20Dealer.%20">
        <img src="{% static 'img/whatsApp.png' %}" alt="WhatsApp Icon">
        <div class="circle"></div>
    </a>
</div>

<style>
    /* WhatsApp Button Styles */
    .whatsapp-button {
        position: fixed;
        right: 20px; /* Adjust the right position as needed */
        bottom: 90px; /* Adjust the bottom position as needed */
        z-index: 1000;
    }

    .whatsapp-button a {
        display: block;
        width: 60px; /* Adjust the width as needed */
        height: 60px; /* Adjust the height as needed */
        background-color: none; /* WhatsApp green color */
        border-radius: 50%;
        text-align: center;
        padding-top: 10px; /* Adjust the padding as needed */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease;
        position: relative;
        overflow: hidden;
    }

    .whatsapp-button img {
        width: 40px; /* Adjust the icon size as needed */
    }

    .whatsapp-button .circle {
        content: '';
        border-radius: 1000px;
        min-width: calc(300px + 12px);
        min-height: calc(60px + 12px);
        border: 6px solid #59CE72;
        box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.3s ease-in-out 0s;
    }

    .whatsapp-button:hover .circle, .whatsapp-button:focus .circle {
        opacity: 1;
    }

    .whatsapp-button::after {
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: 6px solid #59CE72;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: ring 1.5s infinite;
    }

    @keyframes ring {
        0% {
            width: 30px;
            height: 30px;
            opacity: 1;
        }
        100% {
            width: 300px;
            height: 300px;
            opacity: 0;
        }
    }
</style>

<!-- Service center strat -->
<div class="about-car content-area-5"  style="margin-top:50px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="about-car-photo">
                    <div>
                        <div class="carousel-inner">
                            <div>
                                <img src="{% static 'img/vdb.png' %}" class="img-fluid" alt="logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 align-self-center">
                <div class="best-used-car">
                    <h3>Welcome to <span>Vaaka Dealer</span></h3>
                    <p>
                        Welcome to Vaaka Dealer, the best place to find your dream car in Zambia. We are an operated business that has been serving the community with trust and loyalty.
                         We have a wide range of new and used cars from various brands and models, such as Toyota, Honda, Nissan, Ford, BMW, Mercedes-Benz, and more. Whether you are looking
                          for a sedan, hatchback, SUV, pickup, or sports car, we have something for everyone.
                    </p>
                    <p class="mb-0">
                        At Vaaka Dealer, we are committed to providing you with the best customer service and satisfaction. We offer competitive prices, flexible financing options, and free delivery
                         within Lusaka. We also have a team of experienced and certified mechanics who can handle any maintenance or repair needs for your car. You can trust us to take care of
                          your car as if it were our own.

                        If you are ready to buy or sell a car, contact us today. You can browse our inventory online, request a quote, schedule a test drive, or apply for financing. You can
                         also check out our customer reviews and testimonials to see what others have to say about us. We look forward to hearing from you and helping you find your perfect car.

                        Thank you for choosing Vaaka Dealer, the ultimate car dealer in Lusaka.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service center end -->

{% endblock %}
